@-moz-document url-prefix() {

    /* Disable scrollbar Firefox */
    html {
        scrollbar-width: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    -ms-overflow-style: none;
}

* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    /* Background pattern from Subtle Patterns */
    background: url('/img/bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    /*one Em roughly ten pixels (16 x 62.5% = 10)*/
    font-size: 62.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul>li {
    list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}

.btn {
    border-radius: 2em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 2em;

}

/*----------------------------------
Header
------------------------------------*/

h1 {
    font-family: sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-shadow: 2px 2px black;
}

p {
    font-size: 1.6em;
}

h3 {
    font-weight: 400;
}

/*----------------------------------
Section - Score Panel
------------------------------------*/

.score-panel {
    font-size: 2em;
    padding: 1em 0 2em;
}

.star-rating>li {
    display: inline-block;
    padding: 0.5em;
}

.moves-counter {
    padding: 0.2em;
}

.reset-btn {
    background: #000;
}

.timer-container {
    background: #fff;
    border-radius: 0.5em;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
}

.timer {
    font-size: 2em;
}

/*----------------------------------
Section - Modal
------------------------------------*/
/* Modal (background) */

.modal {
    /*Hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgb(46, 61, 73);
    /* With opacity */
    background-color: rgba(46, 61, 73, 0.6);
}

/* Modal Content/Box */

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* 5% from the top and centered */
    margin: 5% auto;
    border: 0.8em solid #43b538;
    padding-right: 2em;
    width: 80%;
}

/* The Close Button */

.close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.close:hover,
.close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Image*/

.modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn {
    background: #28e;
    margin-bottom: 1em;
}

/*----------------------------------
Deck of Cards
------------------------------------*/
/*Mobile first responsivness*/

.deck {
    /* background: linear-gradient(to bottom,#1500ff, #38fcff,); */
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 35em;
}

.deck,
.card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    background: #43b538;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
}

/*
To disable the color highlight if and img is clicked
https://stackoverflow.com/questions/21107439/disable-or-change-firefoxs-element-image-highlight-color
*/

img {
    user-select: none;
    width: 6em;
}

.deck img {
    visibility: hidden;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    background: #0aff99;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #0aff99;
}

h4 {
    text-align: center;
    /* center the title */
    font-size: 20px;
    /* set the font size */
    color: #f1efef;
    /* set the font color */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 550px) {
    .deck {
        height: 50em;
        padding: 2em;
        width: 50em;
    }

    .card {
        height: 10em;
        width: 10em;
    }

    .deck img {
        width: 9em;
    }

    .modal-content h2 {
        font-size: 4em;
    }

    .play-again-btn {
        font-size: 1.8em;
    }
}

/*----------------------------------
Desktops
------------------------------------*/

@media screen and (min-width: 800px) {
    h1 {
        font-size: 6em;
    }

    p {
        font-size: 2.3em;
    }

    .deck {
        height: 70em;
        width: 70em;
    }

    .card {
        height: 15em;
        width: 15em;
    }

    .deck img {
        width: 13em;
    }

    .reset-btn {
        font-size: 0.8em;
    }

    .footer {
        font-size: 1.2em;
    }

    .modal-content h2 {
        font-size: 5em;
    }

    /* Modal Image*/
    .modal-img {
        width: 30em;
    }

    .play-again-btn {
        font-size: 2em;
    }
}